.dateSelect {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.MuiOutlinedInput-notchedOutline {
  border: none;
}

.MuiOutlinedInput-input {
  padding-right: 0;
  padding-left: 0;
  margin-top: -2px;
}

.periodSelect {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.searchButton {
  font-size: 15px;
  padding-bottom: 3px;
  margin-left: 60px;
}

