.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.central-container {
  display: flex;
  /* width: 100vw; */
  flex-grow: 1;
}

.central-container-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
}

.central-container-right {
  justify-self: end;
  border-left: 2px solid #444;
}

.banner__buttons {
  margin-top: 1vw;
}
.banner__button {
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 2vh;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.banner__button:hover {
  opacity: 0.7;
}

.banner__buttonplay {
  color: #000;
  background-color: #e6e6e6;
}

.banner__buttonplay:hover {
  opacity: 0.7;
}

h1 {
  font-size: 2rem;
}
.nav__logo {
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  width: 30px;
  /* object-fit: contain; */
  margin-right: 50px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(21, 22, 21);
}

.nav-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(21, 22, 21);
}

.nav-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(21, 22, 21);
}

.nav__black {
  background-color: #111;
}
