body,
html {
  box-sizing: border-box;
  font-size: 18px;
  color: var(--primary-color);
  background-color: #303437;
  font-weight: bold;
}

.grid-item {
  text-align: center;
  align-items: center;
}

.paper {
  text-align: center;
  height: 80px;
}

.paper-item1 {
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}

.paper-item2 {
  text-align: center;
  color: #00ff00;
}

.stats-item {
  text-align: center;
  align-items: center;
  justify-items: center;
}

.container-stats {
  background-color: rgb(21, 22, 21);
  height: 300px;
  border: 1px;
  border-color: #303437;
}

.div-stats {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div-stats-market {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.paper {
  height: 90px;
  width: 90%;
}

.paper-item1 {
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
}

.paper-item2 {
  text-align: center;
  color: #00ff00;
  padding: 2px;
}

.responsiveContainer {
  vertical-align: middle;
}

.statsHeader {
  text-align: center;
}
