body,
html {
  box-sizing: border-box;
  font-size: 18px;
  color: var(--primary-color);
  background-color: #303437;
  font-weight: bold;
}

.container-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(21, 22, 21);
  height: 300px;
  border: 2px;
  border-color: #303437;
}

.grid-item {
  justify-content: center;
}
